<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- Define some output appenders -->
	<appender name="rollingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="log\log.txt" />
		<!--追加日志内容-->
		<appendToFile value="true" />

		<!--防止多线程时不能写Log,官方说线程非安全-->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

		<!--可以为:Once|Size|Date|Composite-->
		<!--Composite为Size和Date的组合-->
		<rollingStyle value="Composite" />

		<!--当备份文件时,为文件名加的后缀-->
		<datePattern value="yyyyMMdd.TXT" />

		<!--日志最大个数,都是最新的-->
		<!--rollingStyle节点为Size时,只能有value个日志-->
		<!--rollingStyle节点为Composite时,每天有value个日志-->
		<maxSizeRollBackups value="20" />

		<!--可用的单位:KB|MB|GB-->
		<maximumFileSize value="3MB" />

		<!--置为true,当前最新日志文件名永远为file节中的名字-->
		<staticLogFileName value="true" />

		<!--输出级别在INFO和ERROR之间的日志-->
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="ALL" />
			<param name="LevelMax" value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>


	<appender name="AdoNetAppender_MySql" type="log4net.Appender.ADONetAppender">
		<!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库-->
		<bufferSize value="1" />
		<!--日志数据库连接串-->
		<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
		<connectionString value="server=81.69.4.179;userid=yjlwsn;pwd=Wangsn&amp;&amp;Yejl1996;port=3306;database=itsto;SslMode=none" />
		<!--日志数据库脚本-->
		<commandText value="INSERT INTO interfacelogs(LogThread, LogLevel, LoggerName, Url, Request, Response, LogMessage, LogDate) VALUES (@LogThread, @LogLevel, @LoggerName, @Url, @Request, @Response, @LogMessage, @LogDate);" />
		<!--日志时间LogDate -->
		<parameter>
			<parameterName value="@LogDate" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<!--线程号-->
		<parameter>
			<parameterName value="@LogThread" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%t" />
			</layout>
		</parameter>
		<!--日志类型LogLevel -->
		<parameter>
			<parameterName value="@LogLevel" />
			<dbType value="String" />
			<size value="200" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%p" />
			</layout>
		</parameter>
		<!--日志名称-->
		<parameter>
			<parameterName value="@LoggerName" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<!--自定义Message-->
		<parameter>
			<parameterName value="@LogMessage" />
			<dbType value="String" />
			<size value="3000" />
			<layout type="ITSTOAPI.Log4net.InterfaceLoggerLayoutPattern">
				<conversionPattern value="%interfaceLoggerInfo{Message}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Url" />
			<dbType value="String" />
			<size value="3000" />
			<layout type="ITSTOAPI.Log4net.InterfaceLoggerLayoutPattern">
				<conversionPattern value="%interfaceLoggerInfo{Url}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Request" />
			<dbType value="String" />
			<size value="3000" />
			<layout type="ITSTOAPI.Log4net.InterfaceLoggerLayoutPattern">
				<conversionPattern value="%interfaceLoggerInfo{Request}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Response" />
			<dbType value="String" />
			<size value="3000" />
			<layout type="ITSTOAPI.Log4net.InterfaceLoggerLayoutPattern">
				<conversionPattern value="%interfaceLoggerInfo{Response}" />
			</layout>
		</parameter>

	</appender>

	<root>
		<priority value="ALL"/>
		<level value="ALL"/>
		<appender-ref ref="rollingAppender" />
		<appender-ref ref="AdoNetAppender_MySql" />
	</root>
</log4net>
